body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    align-items: center;
    background: #ACE6AD;
}

.container {
    max-width: 500px;
    max-height: 550px;
    margin: 0 auto;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.input-group button {
    background-color: #007BFF;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #0056b3;
}